.counter-container {
    border: 1px solid rgb(0, 0, 0);
    padding: 30px;
    border-radius: 0.5rem;
    margin: 0 0 0.5rem 0;
    background-color: lightsalmon;
}


.title {
    color: darkblue;
}

.value {
    font-size: x-large;
    font-weight: bold;
    margin: 0 0.5rem;
}